{% extends "templates/base.html" %}
{% block content %}
<h1>Inscreva-se <span class="small"></span></h1>

<div class="row">
    <div class="col-md-6">
        <form role="form" method="post" action="{{servlet-context}}/signup">
            <div class="form-group">
                <label for="username">Usuário</label>
                <ul class="errors">
                   {% for e in errors.username %}			<!-- #1 -->
                     <li>{{e}}</li>
                   {% endfor %}
                 </ul>
                <input type="input" class="form-control" name="username" placeholder="Nome usuário"  value="{{username}}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <ul class="errors">
                    {% for e in errors.email %}
                    <li>{{e}}</li>
                    {% endfor %}
                </ul>
                <input type="email" class="form-control" name="email" placeholder="email" value="{{email}}">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <ul class="errors">
                   {% for e in errors.password %}
                     <li>{{e}}</li>
                   {% endfor %}
                 </ul>
                <!--<input type="password" class="form-control" name="password" placeholder="security-through-obscurity">-->
                <input type="password" class="form-control" name="password" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
